mixin navigation(scroll)
  fieldset
    button.pure-button(ng-click="prev(#{scroll})",ng-disabled="query_in_progress || first_page") Previous
    button.pure-button(ng-click="next(#{scroll})",ng-disabled="query_in_progrses || last_page") Next
    block
